/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
}

/* Header Styles */
header {
    margin-top: 0;
    padding: 0;
    margin-bottom: 150px;
    background-image: url(/images/banner/banner3.png);
    height: 900px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Header Content Styles */
.header-stuff {
    padding-left: 800px;
    text-align: right;
    padding-right: 200px;
    padding-top: 250px;
}

/* Banner Title Styles */
.banner-title{
    font-weight: bold;
    font-size: 70px;
    color: #ffffff;
    padding-right: 10px;
    gap: 20px;
}

/* Banner Paragraph Styles */
.banner-p, .section-p, .footer-p{
    color: #ffffff;
    padding-bottom: 10px;
}

/* Main Content Styles */
main {
    padding: 20px;
}

/* Year Content Styles */
.year-stuff {
    display: flex;
    margin-top: 100px;
    align-items: center;
    justify-content: center;
    gap: 200px;
}

.year-titles {
    margin-top: 70px;
}

/* Section Title Styles */
.section-title, .section-sub-title {
    font-weight: bold;
    font-size: 40px;
    color: #000;
    padding-right: 10px;
    margin-bottom: 10px;
}

/* Section Paragraph Styles */
.section-p {
    color: #757575;
}

.section-list {
    position: relative;
}

.section-p::before {
    content: "✓";
    position: absolute;
    left: -20px;
    color: #16D887;
}

/* Plans Section Styles */
.plans {
    display: flex;
    margin-top: 50px;
    padding-left: 5px;
    padding-top: 50px;
}

.plans-content ul {
    display: flex;
    gap: 70px;
    padding: 0px 100px;
}

.plans-content ul li {
    text-align: center;
    margin-top: 100px;
    margin-bottom: 100px;
}

/* Positive Stuff Styles */
.positive-stuff {
    width: 1000px;
    height: 150px;
    margin-left: 300px;
    padding: 100px;
    border-radius: 20px;
    background: url('/images/gradient1.png') center center no-repeat, url('/images/watch.png') center center no-repeat;
    background-size: cover; 
}

.positive-title, .footer-title{
    font-weight: bold;
    font-size: 40px;
    color: #ffffff;
    padding-right: 10px;
    gap: 20px;
}

/* Primary Button Styles */
.btn-primary {
    color: #005FAC;
    background-color: #ffffff;
    padding: 15px 35px;
    border: 2px solid #ffffff;
    border-radius: 5px;
    font-weight: 900;
    margin-top: 20px;
}

.footer-stuff{
    display: flex;
    gap: 200px;
    background-color: #000;
    height: 300px;
    padding-left: 500px;
    margin-top: 200px;
    padding-top: 100px;
}

.footer-form {
    color: #ffffff;
    margin-top: 20px;
}

.footer-form input[type="email"] {
    width: 300px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    outline: none;
}

.footer-form input[type="submit"] {
    color: #005FAC;
    background-color: #ffffff;
    padding: 10px 20px;
    border: 2px solid #ffffff;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
}

.footer-form input[type="submit"]:hover {
    background-color: #005FAC;
    color: #ffffff;
}
